.contact-grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    width: 80vw;
    font-size: 20px;
    grid-row-gap: 5vh;
}
.contact-info{
    margin: auto 0;
}

.contact-icon{
    /*margin: 0 auto;*/
    margin-left:auto;
    margin-right:2vw;

}

a.left-underline {
    position: relative;
    text-decoration: none;
    color: #1D3557;
}

a.left-underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -.5vh;
    left: 0;
    background-color: #E63946;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left-underline:hover:before {
    visibility: visible;
    width: 100%;
}